<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://w7.pngwing.com/pngs/268/27/png-transparent-action-item-computer-icons-task-others-miscellaneous-angle-text-thumbnail.png" type="image/x-icon">
    <title>TODO List App</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    
    <div id="container">
        <header>
            <h1>TODO List</h1>
        </header>
        <form action="/get-data" method="post">
            <div id="descrip">
                <label for="des">Description</label><br>
                <input type="text" name="description" id="des" required placeholder="What do you need to add?"><br>
            </div>
            <div id="date-cate">
                <div id="cate">
                    <label for="cat">Category</label><br>
                    <select name="category" id="cat" required>
                        <option value="">Choose a category</option>
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div id="date">
                    <label for="due">Due Date</label><br>
                    <input type="date" name="due" id="due" required>
                </div>
            </div>
            <div id="clicks">
                <button type="submit" id="submit"><i class="fa-solid fa-plus"></i> Add Task</button>
            </div>
        </form>
        <div id="tasks">
            <% for(let i=0; i<list.length ; i++){ %>
                <div class="item">
                    <form class="check-form" action="/ticked" method="post">
                        <input type="checkbox" name="checked" class="ticked">
                    </form>
                    <div class="item-des">
                        <h3><%= list[i].description %></h3>
                        <p><i class="fa-regular fa-calendar-days "></i>&nbsp;<%= list[i].due %></p>
                    </div>
                    <div class="item-cate"><%= list[i].category %></div>
                    <div class="delete"><a href="/delete-task/?id=<%= list[i]._id %>"><i class="fa-solid fa-trash-can"></i></a></div>
                </div>
            <% } %>

            
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1f5a2ef09b.js" crossorigin="anonymous"></script>
    <script src="/js/home.js"> 
    </script>
</body>
</html>