body{
    margin: 0;
    background-color: rgb(139, 138, 138);
}
#container{
    margin: auto;
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
}
@media (max-width:550px) {
    #container{
        width: 100%;
        font-size: 0.8em;
    }
}
h1{
    text-align: center;
    margin-bottom: 2px;
}
header{
    border-bottom: 2px solid lightgray;
}
#descrip,#date-cate{
    font-size: 1.1em;
    padding: 0.5em 1em 0.75em 1em;
    border-bottom: 2px solid lightgray;
}
input,select{
    font-size: 1.1em;
    background-color: inherit;
    width: 90%;
    border: 0;
}
#descrip:hover,#date:hover,#cate:hover{
    background-color: lightgray;
}

input:focus{
    outline: none;
}

#date-cate{
    display: flex;
    margin: 0;
    justify-content: space-between;
}
#date{
    margin: 0;
    padding: 5px;
    border-left: 2px solid lightgray;
    width: 50%;
}
#cate{
    margin: 0;
    padding: 5px;
    width: 50%;
}
#clicks{
    display: flex;
    padding: 1.25em;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid lightgray;
}
#submit{
    margin-left: 10px;
    height: 2.5em;
    width: 8em;
    font-size: 1.2em;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}
#submit:hover{
    background-color: rgb(81, 81, 81);
}

#tasks{
    background-color: rgb(245, 250, 215);
}


.item{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.item h3,.item p{
   margin: 2px 0 5px 0;
}
.checkbox{
    /* margin-left: 1em; */
    width: 10%;
}
.item-des{
    width: 60%;
    
}
.item-cate{
    padding: 10px;
    color: white;
    width: 10%;
    text-align: center;
    border-radius: 3px;
    background-color: blueviolet;
}
.delete{
    width: 5%;
}
.delete a{
    color: black;
}
.delete a:hover{
    color: red;
}

.item:nth-child(2n+1){
    background-color: rgb(197, 254, 186);
}